.main {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}

.flex-left-main {
    background-image: url('../Assets/bg-main-desktop.png');
    height: 100vh;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-color: aqua;
    width: 40%;

    .cardFront {
        position: absolute;
        top: 250px;
        left: 490px
    }

    .cardBack {
        position: absolute;
        top: 520px;
        left: 550px
    }

    .cardFrontImage {
        position: relative;

        .previewNumber {
            position: absolute;
            width: 350px;
            top: 347px;
            left: 520px;
            color: white;
            font-size: 20px;
            margin: 0px;
            display: flex;
            gap: 6px;

            span {
                padding-right: 6px;
            }
        }

        .previewName {
            position: absolute;
            top: 425px;
            left: 520px;
            color: white;
            font-size: 20px;
            margin: 0px;
        }

        .previewDate {
            position: absolute;
            top: 425px;
            left: 855px;
            color: white;
            font-size: 20px;
            margin: 0px;
        }

    }

}

.flex-right-main {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .nameField,
    .numberField,
    .expDate,
    .cvc {
        display: flex;
        flex-direction: column;

        input[type="text" i] {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid gray;

        }

        label {
            color: #1F082D;
            font-weight: 500;
            padding-bottom: 6px;
        }
    }

    .expFlexRow {
        display: flex;
        gap: 6px;

        input[type="text" i] {
            width: 50px;
        }


    }

    .expDateAndcc {
        display: flex;
        gap: 6px;
    }

    .confirmBtn {
        background-color: #1F082D;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    .error {
        color: red;
        font-size: 12px;
    }

    .done {
        color: #1F082D;
    }

    .continueBtn {
        background-color: #1F082D;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    .grayText {
        color: gray
    }

    .thankYouText {
        font-size: 30px;
    }

    .successAlert {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}




/* Large devices (desktops, 992px and above) */
@media (max-width: 992px) {
    /* CSS rules for large devices go here */

    .flex-left-main .cardFront {
        width: 300px;
        position: absolute;
        top: 250px;
        left: 195px;
    }

    .flex-left-main .cardFrontImage .previewNumber {
        position: absolute;
        width: 172px;
        top: 323px;
        left: 210px;
        color: white;
        font-size: 18px;
        margin: 0px;
        display: flex;
        gap: 6px;
    }

    .flex-left-main .cardFrontImage .previewName {
        position: absolute;
        top: 381px;
        left: 215px;
        color: white;
        font-size: 16px;
        margin: 0px;
    }

    .flex-left-main .cardFrontImage .previewDate {
        position: absolute;
        top: 381px;
        left: 429px;
        color: white;
        font-size: 14px;
        margin: 0px;
    }

    .flex-left-main .cardBack {
        width: 300px;
        position: absolute;
        top: 452px;
        left: 238px;

    }
}



/* Large devices (desktops, 992px and above) */
@media (max-width: 576px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .flex-left-main {
        width: 100%;
   
    }
    .flex-right-main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .flex-left-main .cardBack {
        width: 263px;
        position: absolute;
        top: 11px;
        left: 291px;
    }
    .flex-left-main .cardFront {
        width: 263px;
        position: absolute;
        top: 164px;
        left: 113px;
    }
    .flex-left-main .cardFrontImage .previewNumber {
        position: absolute;
        top: 236px;
        left: 128px;
        color: white;
        font-size: 14px;
        margin: 0px;
        display: flex;
        gap: 6px;
    }
    .flex-left-main .cardFrontImage .previewName {
        position: absolute;
        top: 273px;
        left: 126px;
        color: white;
        font-size: 14px;
        margin: 0px;
    }
    .flex-left-main .cardFrontImage .previewDate {
        position: absolute;
        top: 273px;
        left: 322px;
        color: white;
        font-size: 14px;
        margin: 0px;
    }
   
}